

body{
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    height: 200vh;
}

h1{
    font-size: small;
    font-weight: 600;
    margin-bottom: 2px;
}

h2{
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0px;
}

h3{
    margin-left: 10px;
}


.gray{
    color: #69696a;
    font-size: small;
}

.black{
    color:#000;
}

nav ul{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 5px;
}

button{
    background-color: #000;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
}

section{
    border-left: solid #69696a 2px;
}

p{
    padding-left: 10px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul{
    padding: 0;
}

.footer-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    position: fixed;
    bottom:0;
    left: 0;
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: small;
    font-weight: 500;
}

.footer-nav ul li{
   margin-right: 10px;
}

@media only screen and (min-width: 768px){

  header{
        display:flex;
        justify-content: space-between;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
    }   

    nav ul li{
        margin-right: 10px;
    }

    main{
        width: 50%;
        position: absolute;
        top: 25%;
    }

    .hire-button{
        width: auto;
        padding: 5px 10px;
        border-radius: 25px;
       
    }

    #large-circle {
        background: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        width: 125px;
        height: 125px;
        position: absolute;
        right: 60px;
        top: 25%;
    }

    #medium-circle {
        background:  rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 10px;
        top: 37%;
    }

    #small-circle {
        background: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        width: 75px;
        height: 75px;
        position: absolute;
        right: 15px;
        top: 30%;
    }
}